.header-learn-type-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.header-learn-type {
    padding: 6px 12px;
    border-radius: 12px;
    text-transform: capitalize;
    border: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-family: system-ui;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}